/**
| Main stylesheet for designing analog clock
| Created By: https://hassanraza.net
| Feel free to customize as per your need
 */
.container {
    max-width: 100%;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    color: darkred;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.analog-clock {
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 10px solid chocolate;
    border-radius: 50%;
}

.analog-clock .clock-center-circle {
    width: 40px;
    height: 40px;
    background-color: darkred;
    border-radius: 50%;
    z-index: 1;
}

.analog-clock .clock-hand {
    border: 3px solid brown;
    background-color: brown;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(51% - 4px);
}

.analog-clock .hours-hand {
    width: 100px;
    border-width: 6px;
    top: calc(50% - 6px);
    transform-origin: left center;
    transform: rotate(-90deg);
}

.analog-clock .minutes-hand {
    width: 140px;
    border-width: 4px;
    top: calc(50% - 5px);
    transform-origin: left center;
    transform: rotate(-90deg);
}

.analog-clock .seconds-hand {
    width: 160px;
    transform-origin: left center;
    transform: rotate(-90deg);
}

/**
| position clock digits
 */
.analog-clock .clock-digits {
    font-size: 2.5rem;
    color: brown;
    font-family: "Agency FB", sans-serif;
    font-weight: bold;
    position: absolute;
}

.analog-clock .clock-digits.digit-12 {
    left: calc(50% - 10px);
    top: 0;
}

.analog-clock .clock-digits.digit-11 {
    left: calc(27% - 2px);
    top: 20px;
}

.analog-clock .clock-digits.digit-10 {
    left: 9%;
    top: 85px;
}

.analog-clock .clock-digits.digit-9 {
    left: 5px;
    top: calc(50% - 25px);
}

.analog-clock .clock-digits.digit-8 {
    left: 9%;
    bottom: 85px;
}

.analog-clock .clock-digits.digit-7 {
    left: calc(27% - 2px);
    bottom: 20px;
}

.analog-clock .clock-digits.digit-6 {
    left: calc(50% - 10px);
    bottom: 0;
}

.analog-clock .clock-digits.digit-5 {
    right: calc(27% - 2px);
    bottom: 20px;
}

.analog-clock .clock-digits.digit-4 {
    right: 9%;
    bottom: 85px;
}

.analog-clock .clock-digits.digit-3 {
    right: 5px;
    top: calc(50% - 25px);
}

.analog-clock .clock-digits.digit-2 {
    right: 9%;
    top: 85px;
}

.analog-clock .clock-digits.digit-1 {
    right: calc(27% - 2px);
    top: 20px;
}
/**
| position clock digits END
 */

.digital-clock-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 4rem;
    font-family: "Algerian", sans-serif;
    flex-direction: column;
    align-items: center;
}
.digital-clock-wrapper  .date {
    font-size: 3rem;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
}